<div toastContainer></div>
<ngx-spinner></ngx-spinner>
<div class="ecaps-page-wrapper">
  <!-- Sidemenu Area -->
  <div class="ecaps-sidemenu-area">
    <!-- Desktop Logo -->
    <!-- Side Nav -->
    <div class="ecaps-sidenav" id="ecapsSideNav">
      <!-- Side Menu Area -->
      <div class="side-menu-area">
        <sidebar></sidebar>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="ecaps-page-content">
    <!-- Top Header Area -->
    <header
      class="top-header-area d-flex align-items-center justify-content-between"
    >
      <div class="left-side-content-area d-flex align-items-center">
        <!-- Mobile Logo -->
        <div class="mobile-logo mr-3 mr-sm-4">
          <a href="index.html"
            ><img src="img/core-img/small-logo.png" alt="Mobile Logo"
          /></a>
        </div>
      </div>

      <div
        class="right-side-navbar d-flex align-items-center justify-content-end"
      ></div>
    </header>

    <!-- Main Content Area -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
