<div toastContainer></div>
<ngx-spinner></ngx-spinner>
<div class="ecaps-page-wrapper">
  <!-- Sidemenu Area -->
  <div class="ecaps-sidemenu-area">
    <!-- Desktop Logo -->
    <div class="ecaps-logo">
      <a href="index.html"
        ><img
          class="desktop-logo"
          src="img/core-img/logo.png"
          alt="Desktop Logo" />
        <img
          class="small-logo"
          src="img/core-img/small-logo.png"
          alt="Mobile Logo"
      /></a>
    </div>

    <!-- Side Nav -->
    <div class="ecaps-sidenav" id="ecapsSideNav">
      <!-- Side Menu Area -->
      <div class="side-menu-area">
        <sidebar></sidebar>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="ecaps-page-content">
    <!-- Top Header Area -->
    <header
      class="top-header-area d-flex align-items-center justify-content-between"
    >
      <div class="left-side-content-area d-flex align-items-center">
        <!-- Mobile Logo -->
        <div class="mobile-logo mr-3 mr-sm-4">
          <a href="index.html"
            ><img src="img/core-img/small-logo.png" alt="Mobile Logo"
          /></a>
        </div>

        <!-- Triggers -->
        <div class="ecaps-triggers mr-1 mr-sm-3">
          <div class="menu-collasped" id="menuCollasped">
            <i class="bx bx-menu"></i>
          </div>
          <div class="mobile-menu-open" id="mobileMenuOpen">
            <i class="bx bx-menu"></i>
          </div>
        </div>

        <!-- Left Side Nav -->
        <ul class="left-side-navbar d-flex align-items-center">
          <li class="hide-phone app-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="bx bx-search-alt"></span>
          </li>
        </ul>
      </div>

      <div
        class="right-side-navbar d-flex align-items-center justify-content-end"
      >
        <div class="dashboard-infor-mation d-flex flex-wrap align-items-center">
          <h6 class="mb-0 mr-2 font-14">Date:</h6>
          <div class="dashboard-clock">
            <div class="font-13 text-primary" id="dashboardDate"></div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content Area -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
